extends layout

block content
  form#guild_new(method='POST' action='/guilds/create')
    .row
      .col-md-6
        .form-group
          label(for='name').sr-only Name:
          input#name.form-control.input-lg(type='text', placeholder='Guild Name' name='name')
      .col-md-4
        .form-group
          label(for='description').sr-only Description:
          input#description.form-control.input-lg(type='text', placeholder='Description' name='description')
      .col-md-2
        .form-group
          label(for='type').sr-only Type:
          select#hero.form-control.input-lg(name='type')
            each type in ['Lion', 'Eagle', 'Panda', 'Fox']
              option(value=type) #{type}
    .row
      - for (var i = 0; i < 4; i++){
        .col-md-3
          .well
            h4 Hero #{i+1}
            .form-group
              label(for='hero').sr-only Hero:
              select#hero.form-control(name=`heroes[${i}][hero_id]`)
                each hero in heroes
                  option(value=hero._id) #{hero.name}
            - for (var j = 0; j < 4; j++){
              .form-group
                label(for='item').sr-only Item:
                select#item.form-control(name=`heroes[${i}][items]`)
                  option(value="", selected="selected") --
                  each item in items
                    option(value=item._id) #{item.number}: #{item.name}
            - }
      - }
      
    button.btn.btn-primary(type='submit') Create