extends layout

block content
    .row
        .col-md-6.col-xs-12
            h1
                - var imgName = "/img/" + String(guild.type).toLowerCase() + ".png";
                img(src=imgName).img-responsive.guild-name-icon
                | #{guild.name} 
                small #{guild.description}
    .row: each hero in guild.heroes
        .col-md-3.hero-detail
            .row: .col-md-12: img(src= hero.hero_id.image).img-responsive
            br
            .row: each item in hero.items
                .col-md-6.col-xs-6.item-detail
                    | #{item.name}
                    img(src= "/img/blank_melee.png", alt=item.name, title=item.name).img-responsive
                    // .panel.panel-info
                    //     .panel-heading
                    //         b #{item.name}
                    //     .panel-body
                    //         | #{item.description}                
    .row
        .col-md-12
            | #{guild.createdAt}