.modal.fade(id="modalCreateGuild", role="dialog", data-backdrop="static")
  .modal-dialog.modal-lg(role="document")
    .modal-content
    
      .modal-header
        button(type="button", data-dismiss="modal", aria-label="Close").close
          span( aria-hidden="true") &times;
        h3 Create New Guild
      .modal-body
        form(method='POST' action='/guilds')
          .row
            .col-md-6
              .form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='Guild Name' name='name')
            .col-md-6
              .form-group
                label(for='description') Description:
                input#description.form-control(type='text', placeholder='Brief description' name='description')
          .row
            - for (var i = 0; i < 4; i++){
              .col-md-3
                // .form-group
                //   label(for='name') Name:
                //   input#name.form-control(type='text', placeholder='first and last' name='name')
                // .form-group
                //   label(for='email') Description:
                //   input#email.form-control(type='email', placeholder='name@email.com' name='email')
                .well
                  .form-group
                    label(for='hero').sr-only Hero:
                    select#hero.form-control(name=`heroes[${i}][hero_id]`)
                      each hero in heroes
                        option(value=hero._id) #{hero.name}
                  - for (var j = 0; j < 4; j++){
                    .form-group
                      label(for='item').sr-only Item:
                      select#item.form-control(name=`heroes[${i}][items]`)
                        each item in items
                          option(value=item._id) #{item.number}: #{item.name}
                  - }
            - }
            
          button.btn.btn-primary(type='submit') Create